tr.oddtrue {
	background-color: lightgrey;
}

div.month table{
}

span.time {
	color: green;
}

span.user {
	color: blue;
}

span.action {
	color: red;
}

span.system {
	font-style: italic;
	color: grey;
}
