body {
	cursor: default;
	font-family: sans-serif;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

tr.oddtrue {
	background-color: lightgrey;
}

td:hover {
	background-color: lightgrey;
}

div#container {
}

div#search {
	float: right;
}

div#content {
}

div#navigation {
	float: right;
	width: 350px;
	background-color: #a8a8a8;
}

div#footer {
}

div#logtitle {
}

table#calendar {
	border: 1px solid lightgrey;
	width: 100%;
}

span.time {
	color: green;
}

span.user {
	color: blue;
}

span.action {
	color: red;
	font-style: italic;
}

span.system {
	font-style: italic;
	color: lightgrey;
}
